<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ExodiaSolutions.numeric.testme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.ExodiaSolutions.numeric.testme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ExodiaSolutions.numeric.testme.Test" />
        <activity
            android:name="com.ExodiaSolutions.numeric.testme.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ExodiaSolutions.numeric.testme.Profile" />
        <activity
            android:name="com.ExodiaSolutions.numeric.testme.Testing"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.ExodiaSolutions.numeric.testme.DeveloperPage"></activity>
        <activity android:name="com.ExodiaSolutions.numeric.testme.TopicActivity"></activity>
    </application>

</manifest>